<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Galvanize Reads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
    <div class="header">
        <a href="/">
            <img class="logo-image" src="./assets/Galvanize-Logo.jpg" alt="" width="50px">
        </a>
        <div class="logo-text"><strong>Galvanize Reads</strong></div>
    </div>

    <div class="index">
        <div class="box">
            <a href="/authors">
                <img src="./assets/author-pen2.jpg" alt="" width="500px" height="400px">
                <div><strong>Authors</strong></div>
            </a>
        </div>
        <a href="/books">
            <div class="box">
                <img src="./assets/books-by-economist-writers-in-2017.jpg" alt="" width="500px" height="400px">
                <div><strong>Books</strong></div>
        </a>
        </div>

    </div>
    <% include ./partials/footer %>